.container {
  display: block;
  margin-left: 70px;
  margin-top: 70px;
}
.info-container {
  display: inline;
  padding: 30px;
}
.btn-container {
  display: inline-block;
}

.btn-refresh,
.btn-admin,
.btn-delete {
  background: #2196f3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
}


.btn-admin {
  margin-left: 20px;
}

.btn-delete {
  margin-left: 20px;
}

.btn-block {
  background: #ff0000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
  margin-left: 30px;
}

.profilr-roles {
  display: flex;
  padding: auto;
}

.btn-delete-container {
  display: inline-flex;
  justify-content: space-evenly;
}

.gray {
  color: #a5a5a5;
}

.nowrap {
  white-space: nowrap;
}

.email {
  margin-top: -10px;
}

.number-tel {
  margin-top: 10px;
}

.profilr-roles {
  margin-top: 10px;
}
