.container{
  display: block;
  margin-left: 70px;
  margin-top: 70px;
}
.info-container{
  display: inline;
  padding: 30px;
}
.btn-container {
  display: inline-block;
}

.btn-refresh {
  background: #2196f3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
}

.btn-block {
  background: #ff0000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
}

.profilr-roles {
  display: flex;
  padding: auto;
}

.roles {
  margin: 22px 5px;
}

