<div class="container">
  <header class="profile-name">
    <h3>
      <strong>Профиль {{ profile.firstName }} {{ profile.lastName }}</strong>
    </h3>
  </header>
  <div class="info-container">
    <h3>Email: {{ profile.email }}</h3>
    <h3>Номер телефона: {{ profile.phoneNumber }}</h3>
    <div class="orders-container" *ngFor="let order of orders">
      <hr />
      <h3>Id Заявки: {{ order.idOrder }}</h3>
      <div class="order-products" *ngFor="let product of order.productEntities">
        <h4>Товар: {{ product.nameProduct }} - {{ product.price }}, руб</h4>
      </div>
      <h4>Итоговая цена заказа: {{ order.totalPrice }}, руб</h4>
      <hr />
    </div>
    <div class="btn-container">
      <button class="btn-refresh" (click)="refreshOrder()">
        Обновить список заявок
      </button>
      <button class="btn-block" (click)="logout()">Выйти из профиля</button>
    </div>
  </div>
</div>
