<div class="container">
  <header class="profile-name">
    <h3>
      <strong>{{ profile.firstName }} {{ profile.lastName }}</strong>
    </h3>
  </header>
  <div class="info-container">
    <div class="email">
      <span class="gray"> Email: </span>
      <span class="nowrap">{{ profile.email }}</span>
    </div>
    <div class="number-tel">
      <span class="gray">Номер телефона: </span>
      <span class="nowrap">{{ profile.phoneNumber }}</span>
    </div>
    <div class="profilr-roles">
      <span class="gray">Права доступа:</span>
      <span class="nowrap">
        <div class="roles" *ngFor="let role of profile.roles; let i = index">
          {{ i + 1 }}) {{ role }}
        </div>
      </span>
    </div>
    <div class="orders-container" *ngFor="let order of orders">
      <hr />
      <div class="btn-delete-container">
        <h3>Номер заказа: {{ order.idOrder }}</h3>
        <button class="btn-delete" (click)="deleteOrder(order.idOrder)">
          Удалить заказ
        </button>
      </div>
      <div class="order-products" *ngFor="let product of order.productEntities">
        <h4>Товар: {{ product.nameProduct }} - {{ product.price }}, руб</h4>
      </div>
      <h4>Итоговая цена заказа: {{ order.totalPrice }}, руб</h4>
      <hr />
    </div>
    <div class="btn-container">
      <button class="btn-refresh" (click)="refreshOrder()">
        Обновить список заявок
      </button>
      <button class="btn-admin" *ngIf="isAdmin()" (click)="goToAdmin()">
        Админ панель
      </button>
      <button class="btn-block" (click)="logout()">Выйти из профиля</button>
    </div>
  </div>
</div>
