.products-table {
  width: 100vh;
}

.product-container {
  margin-left: 70px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.product-page-container {
  display: flex;
  margin-left: 50px;
}

.product-left-block {
  margin-right: 20px;
  width: 278px;
  z-index: 10;
}

.button {
  background: #2196f3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
}

.price-input2 {
  margin-top: 10px;
}
