<div class="text-center">
  <form class="form-signin">
    <h1 class="name-shop">Создать учетную запись</h1>
    <input type="email"  [(ngModel)]="form.email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
    <input type="firstName"  [(ngModel)]="form.firstName" name="firstName" class="form-control" placeholder="Имя">
    <input type="lastName"  [(ngModel)]="form.lastName" name="lastName" class="form-control" placeholder="Фамилия">
    <input type="phoneNumber"  [(ngModel)]="form.phoneNumber" name="phoneNumber" class="form-control" placeholder="Номер телефона">
    <input type="password"  [(ngModel)]="form.password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
    <button class="btn-block" (click)="signUp()"> Зарегистрироваться </button>
  </form>
</div>
