<h1>ShopPhone  <a href="https://github.com/GeIIer" target="_blank">By Ar Iv</a></h1>
<div class="flex-wrapper">
  <div class="slider-wrapper">
    <div class="slide active">
      <img src="../../../assets/imgs/slider1.jpg" alt="">
    </div>
    <div class="slide">
      <img src="../../../assets/imgs/slider3.jpg" alt="">
    </div>
    <div id="btn-prev" (click)="prevSlide()"></div>
    <div id="btn-next" (click)="nextSlide()"></div>
  </div>
</div>
<div class="dots-wrapper">
  <span class="dot active"></span>
  <span class="dot"></span>
</div>
