.Table{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  width: 100%;
  min-width: auto;
}

.Table thead th {
  font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.Table tbody td {
  text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

.Table thead tr th:first-child, .Table tbody tr td:first-child{
  border-left: none;
}

.Table thead tr th:last-child, .Table tbody tr td:last-child{
  border-right: none;
}

.Table tbody tr:nth-child(even){
  background: #f3f3f3;
}

.btn-remove{
  text-transform: none;
  min-width: 10px;
}



